<header>
  <section class="bgOrange w-100">
    <div class="container pt-3">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <div>
            <img src="../../../assets/img/ic_camera.svg" alt="camera"/>
            <p>Scan</p>
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="bgGrey rounded-circle h-2rem w-2rem  d-flex align-items-center justify-content-center">
            <i class="pi pi-user"></i>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-12 d-flex align-items-center justify-content-between mt-4">
          <h3>INCADAQUÉS 2020</h3>
          <img class="svg heart" src="../../../assets/img/ic_heart_fill.svg" alt="heartfill" />
        </div>
        <div class="col">
          <p class="pl-3 text-xs">15-25 OCTOBER 2020</p>
        </div>
      </div>
    </div>
  </section>
  <nav class="d-flex bg-white">
    <div class="text-center m-2">
      <div
        class="d-flex justify-content-center align-items-center m-1 h-3rem w-3rem border circle bgOrange "
      >
        <img
        src="../../../assets/img/ic_calendar.svg"
        alt="calendar"
        />
      </div>
      <p class="mt-1">Program</p>
    </div>
    <div class="text-center m-2">
      <div
        class="d-flex justify-content-center align-items-center m-1 h-3rem w-3rem border circle bg-secondary "
      >
        <img
          src="../../../assets/img/ic_frame.svg"
          alt="frame"
        />
      </div>
      <p class="mt-1">Artworks</p>
    </div>
    <div class="text-center m-2">
      <div
        class="d-flex justify-content-center align-items-center m-1 h-3rem w-3rem border circle  bgGreen "
      >
        <img
          src="../../../assets/img/ic_pin.svg"
          alt="pin"
        />
      </div>
      <p class="mt-1">Map</p>
    </div>
  </nav>
</header>
